
//general
$general-color: #f12d39;  //used for buttons, links, borders, boxes, etc - reddish color for now
$font-color:#6b6b6b;
$color-link-hover: darken($general-color, 10%);
$offer-color:#060a42;  //icons, quote about us

//navig:

$color-navig:#6b6b6b;
$color-navig-hover: rgba(241, 45, 57, 0.22);


//BUTTON
$button-background:#fff;
$button-background-hover: #f12d39; //the same as general-corol 
$button-link-hover:#fff;


