# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\www\www_autobazar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
